@import "bootstrap";
@import "font-awesome";
@import "simplemde.css";

.vertical-center {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

body {
	padding-bottom: 2rem;
}